body {
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
}
nav {
    display: flex;
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}


nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: none;
	background-color: #61575f;
	color: #000;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 70vh;
    z-index: 999;
    background-color: #046f6a;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    width: 50%;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

main {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


.temple-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
}

.temple-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.temple-card img {
  width: 100%;
  height: auto;
  display: block;
}

.temple-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}



footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}
h1{
    text-align: center;
}

.hideOnMobile{
    display: none;
}
.close-button:hover {
    color: #000000;
    background-color: aqua;
}
