@media (min-width: 601px) and (max-width: 1024px) {
    .program-cards, .team-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin-bottom: 1rem;
    }
}
